html {
    background: #FFF;
    color: #000
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0
}

table {
    border-spacing: 0;
    border-collapse: collapse
}

fieldset, img {
    border: 0
}

address, caption, cite, code, dfn, em, strong, th, var {
    font-weight: normal;
    font-style: normal
}

ol, ul {
    list-style: none
}

caption, th {
    text-align: left
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    font-size: 100%
}

q:before, q:after {
    content: ''
}

abbr, acronym {
    border: 0;
    font-variant: normal
}

sup {
    vertical-align: text-top
}

sub {
    vertical-align: text-bottom
}

input, textarea, select {
    font-weight: inherit;
    font-size: inherit;
    *font-size: 100%;
    font-family: inherit
}

legend {
    color: #000
}

#yui3-css-stamp.cssreset {
    display: none
}

html {
    font-size: 20PX;
}

@media only screen and (min-width: 320px) {
    html {
        font-size: 19PX !important;
    }
}

@media only screen and (min-width: 375px) {
    html {
        font-size: 20PX !important;
    }
}

@media only screen and (min-width: 400px) {
    html {
        font-size: 21.33333333PX !important;
    }
}

@media only screen and (min-width: 414px) {
    html {
        font-size: 22.08PX !important;
    }
}

@media only screen and (min-width: 480px) {
    html {
        font-size: 25.6PX !important;
    }
}

html {
    background: #fff;
    color: #000
}

blockquote, body, code, dd, div, dl, dt, fieldset, form, h1, h2, h3, h4, h5, h6, input, legend, li, ol, p, pre, td, textarea, th, ul {
    margin: 0;
    padding: 0
}

table {
    border-spacing: 0;
    border-collapse: collapse
}

fieldset, img {
    border: 0
}

address, caption, cite, code, dfn, em, strong, th, var {
    font-weight: 400;
    font-style: normal
}

ol, ul {
    list-style: none
}

caption, th {
    text-align: left
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    font-size: 100%
}

q:after, q:before {
    content: ''
}

abbr, acronym {
    border: 0;
    font-variant: normal
}

sup {
    vertical-align: text-top
}

sub {
    vertical-align: text-bottom
}

input, select, textarea {
    font-weight: inherit;
    font-size: inherit;
    *font-size: 100%;
    font-family: inherit
}

legend {
    color: #000
}

#yui3-css-stamp.cssreset {
    display: none
}

html {
    font-size: 20px
}

@media only screen and (min-width: 320px) {
    html {
        font-size: 15px !important
    }
}

@media only screen and (min-width: 375px) {
    html {
        font-size: 17px !important
    }
}

@media only screen and (min-width: 400px) {
    html {
        font-size: 18px !important
    }
}

@media only screen and (min-width: 414px) {
    html {
        font-size: 19px !important
    }
}

@media only screen and (min-width: 480px) {
    html {
        font-size: 20px !important
    }
}

body {
    font-family: -apple-system, BlinkMacSystemFont, Microsoft YaHei, sans-serif
}

header {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 69rem;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#57e88a), to(#14a948));
    color: #fff;
    text-align: center
}

.oracle-bg {
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-top: 23.5rem;
    margin-left: -35.775rem;
    width: 71.55rem;
    height: 45.75rem;
    background-image: url(../img/bg@2x.png);
    background-position: center center;
    background-size: 100%;
}
.logo{
    position: relative;
    margin: 0 auto;
    margin-top: 10rem;
    width: 1.8rem;
    height: 3.35rem;
}
.logo-icon {
    position: relative;
    display: block;
    width: 1.8rem;
    height: 3.35rem;
    background-image: url(../img/logo-icon.png);
    background-size: 1.8rem;
    background-repeat: no-repeat;
    text-indent: -499.95rem;
    -webkit-transform: scale3d(.9,.9,.9);
    transform: scale3d(.9,.9,.9);
    -webkit-animation: hue 1s infinite linear;
    -webkit-animation-duration: 1.8s;
    animation-duration: 1.8s;
}
.logo-name {
    position: relative;
    display: block;
    margin: 0 auto;
    margin-top: 1.5rem;
    width: 6.525rem;
    height: 1.475rem;
    background-image: url(../img/logo-name.png);
    background-size: 6.525rem;
    background-repeat: no-repeat;
    text-indent: -499.95rem;
}
.logo-timeline{
    margin: 0 auto;
    margin-top: -11rem;
    margin-left: -1.9rem;
    width: 19.1rem;
    height: 11.35rem;
    background-image: url(../img/timeline@2x.png);
    background-size: 16.1rem;
    background-repeat: no-repeat;
    text-indent: -499.95rem
}
.description {
    position: relative;
    z-index: 99;
    margin-top: 1.8rem;
    font-size: .7rem;
}

.screenshot {
    position: relative;
    position: relative;
    z-index: 99;
    z-index: 99;
    display: block;
    margin: 0 auto;
    margin-top: 2.25rem;
    min-width: 16rem;
    max-width: 21.1rem;
    width: 21.1rem;
    height: 31.65rem;
    background-image: url(../img/screenshot@2x.png);
    background-size: 100%;
    background-repeat: no-repeat;
    text-indent: -499.95rem
}

.download-box {
    position: relative;
    z-index: 99;
    margin-top: 2rem;
}

.words {
    color: #1d1d1d;
    text-align: center;
    font-size: .7rem
}

.download-btn {
    position: relative;
    z-index: 99;
    display: block;
    margin: 0 auto;
    margin-top: 2.35rem;
    width: 9.9rem;
    height: 2.1rem;
    border: .1rem solid hsla(0, 0%, 100%, .68);
    border-radius: 2.5rem;
    color: #fff;
    text-decoration: none;
    font-size: .8rem;
    line-height: 2.1rem;
}

.tips {
    margin-top: .25rem;
    height: 1.2rem;
    color: hsla(0, 0%, 100%, .63);
    font-size: .5rem;
    line-height: 1.2rem
}

.mod-des {
    color: #065315;
    text-align: center
}

.mod-des__list-box {
    margin: 0 auto;
    margin-bottom: 1rem;
    width: 16rem;
    text-align: left
}
.mod-des__list a:hover{
    margin-left: 8px;
    color: #136e24;
}

.mod-des__list-box:last-child {
    padding-bottom: 1rem;
    border: none;
    background-image: -webkit-linear-gradient(270deg, transparent, transparent 50%, transparent 0), -webkit-linear-gradient(180deg, transparent, transparent 50%, transparent 0), -webkit-linear-gradient(90deg, #bababa, #bababa 50%, transparent 0), -webkit-linear-gradient(0, transparent, transparent 50%, transparent 0);
    background-position: top, 100% 0, bottom, 0 0;
    background-size: 100% 1px, 1px 100%, 100% 1px, 1px 100%;
    background-repeat: no-repeat
}

.mod-des__title {
    margin-top: 2.45rem;
    margin-bottom: 2.5rem;
    color: #065315;
    font-size: 1.75rem
}

.mod-des__list {
    margin-top: .5rem;
    padding-left: 1.25rem;
    list-style: disc outside
}
.mod-des__list-name{
    position: relative;
}
.mod-des__list-name:before{
    position: absolute;
    top: 0rem;
    left: -1.8rem;
    display: block;
    content: '';
}
.mod-des__list-name_yu:before{
    width: 1.2rem;
    height: 1.3rem;
    background-image: url(../img/yu.png);
    background-size: 1.2rem;
}
.mod-des__list-name_zhi:before{
    left: -1.6rem;
    width: 1rem;
    height: 1.7rem;
    background-image: url(../img/zhi.png);
    background-size: 1rem;
}
.mod-des__list-name_gong:before{
    left: -1.6rem;
    width: .6rem;
    height: 1.85rem;
    background-image: url(../img/gong.png);
    background-size: .6rem;
}

.mod-des__item {
    display: list-item;
    height: 1.15rem;
    color: #1ca336;
    text-decoration: none;
    font-size: .7rem;
    line-height: 1.15rem
}

.support-description {
    margin-top: 2.5rem;
    color: #003103;
    text-align: center;
    font-size: .7rem;
    line-height: 1.2rem
}

.support-link {
    color: #1ca336;
    text-decoration: none
}

.support-example {
    margin-top: 2.5rem;
    margin-bottom: 3.75rem;
    text-align: center
}

.support-item {
    display: inline-block;
    margin-bottom: 1rem;
    padding: 0 0.6rem;
    height: 1.5rem;
    text-indent: -499.95rem;

}

.support-item:last-child {
    margin-right: 0
}

footer {
    overflow: hidden;
    margin: 0 auto;
    border: none;
    background-image: -webkit-linear-gradient(270deg, #bababa, #bababa 50%, transparent 0), -webkit-linear-gradient(180deg, transparent, transparent 50%, transparent 0), -webkit-linear-gradient(90deg, transparent, transparent 50%, transparent 0), -webkit-linear-gradient(0, transparent, transparent 50%, transparent 0);
    background-position: top, 100% 0, bottom, 0 0;
    background-size: 100% 1px, 1px 100%, 100% 1px, 1px 100%;
    background-repeat: no-repeat
}

.links {
    margin-top: 2rem;
    text-align: center
}

.links__github {
    display: inline-block;
    margin-right: 1.5rem;
    width: 1rem;
    height: 1rem;
    background-image: url(../img/github@2x.png);
    background-size: 1rem;
    background-repeat: no-repeat;
    text-decoration: none;
    text-indent: -499.95rem
}

.links__dribbble {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    background-image: url(../img/dribbble@2x.png);
    background-size: 1rem;
    text-decoration: none;
    text-indent: -499.95rem
}

.license {
    margin: 1.8rem;
    color: #bababa;
    text-align: center;
    font-size: .6rem
}
.forkme {
    position: fixed;
    top: 46px;
    right: -60px;
    z-index: 300;
    overflow: hidden;
    width: 240px;
    border-style: solid;
    border-color: #7B7979;
    background-color: #FFF;
    transform: rotate(45deg);
}


@import url(http://fonts.googleapis.com/css?family=Cabin+Condensed:500&text=Fork%20me%20on%20GitHub);

body {
    overflow-x: hidden;
}

.ribbon {
    position: absolute;
    top: 42px;
    padding: 1px 0;
    width: 200px;
    background: #000;
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.5);
    -moz-box-shadow: 0 0 10px rgba(0,0,0,0.5);
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    color: #eee;
}

.ribbon.left {
    left: -42px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.ribbon.right {
    right: -42px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.ribbon a,
.ribbon a:visited,
.ribbon a:active,
.ribbon a:hover {
    display: block;
    padding: 1px 0;
    height: 24px;
    border: 1px solid rgba(255,255,255,0.3);
    color: inherit;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 0 10px rgba(0,0,0,0.31);
    font-weight: 500;
    font-size: 16px;
    font-family: 'Cabin Condensed', sans-serif;
    line-height: 24px;
    -moz-text-shadow: 0 0 10px rgba(0,0,0,0.31);
    -webkit-text-shadow: 0 0 10px rgba(0,0,0,0.31);
}

.ribbon.black {
    background: #000;
}

.ribbon.red {
    background: #c00;
}

.ribbon.blue {
    background: #09e;
}

.ribbon.green {
    background: #0a0;
}

.ribbon.orange {
    background: #d80;
}

.ribbon.purple {
    background: #c0c;
}

.ribbon.grey {
    background: #888;
}

.ribbon.white {
    background: #eee;
    color: black;
}

.ribbon.white a {
    border: 2px dotted rgba(100,100,100,0.2);
}
.ribbon.fixed{
    position: fixed;
    z-index: 9999;
    opacity: 0.8;
}
@-webkit-keyframes bounceIn {
    0% {
        opacity: 1;
        -webkit-transform: scale3d(1,1,1);
        transform: scale3d(1,1,1)
    }

    30% {
        -webkit-transform: scale3d(1.1,1.1,1.1);
        transform: scale3d(1.1,1.1,1.1)
    }

    60% {
        -webkit-transform: scale3d(.9,.9,.9);
        transform: scale3d(.9,.9,.9)
    }

    100% {
        opacity: 1;
        -webkit-transform: scale3d(1,1,1);
        transform: scale3d(1,1,1)
    }
}

@keyframes bounceIn {

    0% {
        opacity: 1;
        -webkit-transform: scale3d(1,1,1);
        transform: scale3d(1,1,1)
    }

    30% {
        -webkit-transform: scale3d(1.1,1.1,1.1);
        transform: scale3d(1.1,1.1,1.1)
    }

    60% {
        -webkit-transform: scale3d(.9,.9,.9);
        transform: scale3d(.9,.9,.9)
    }

    100% {
        opacity: 1;
        -webkit-transform: scale3d(1,1,1);
        transform: scale3d(1,1,1)
    }
}

.bounceIn {
    -webkit-animation-name: bounceIn;
    animation-name: bounceIn
}

