<!-- 设计:XX | 前端:YY | 后端:ZZ | WeHotel出品 -->
<!DOCTYPE HTML>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>Hello World!</title>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="format-detection" content="telephone=no,email=no">
    <meta name="keywords" content="铂涛旅行,7天连锁酒店,七天连锁酒店,WeHotel">
    <meta http-equiv="cache-control" content="no-cache">
    <script src="http://imgs.plateno.com:8080/static/js/flexible_css.js" inline></script>
    <script src="http://imgs.plateno.com:8080/static/js/flexible.js" inline></script>
    <link rel="stylesheet" href="http://imgs.plateno.com:8080/static/css/we-ui.min.css">
    <link rel="stylesheet" type="text/css" href="../css/<%= project %>.css" />
</head>
<body>
<div class="wrapper">
	
</div>
<script src="http://imgs.plateno.com:8080/static/js/zepto.min.js"></script>
<script src="http://imgs.plateno.com:8080/static/js/botao-sdk.js"></script>
<script src="http://imgs.plateno.com:8080/static/js/we-ui.min.js?v=20170602"></script>
<script src="../js/<%= project %>.js"></script>
</body>
</html>